* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: "SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  src: url("../fonts/Roboto-Italic.ttf");
}

body {
  font-family: 'SemiBold', sans-serif;
  scroll-behavior: smooth;
  background-color: #020A18;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.center {
  max-width: 1146px;
  margin: 0 auto;
  width: 100%;
}

.container {
  padding-left: calc(50% - 573px);
  padding-right: calc(50% - 573px);
}

.top {
  /* max-width: 1920px; */
  background-color: #08101D;
}

.header {
  padding: 39px 0;
  border-radius: 10px;
  border: 1px solid #302e2e;
  background-color: #031a41;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.header__link {
  color: #FFF;
}

.big:hover {
  color: rgb(154, 214, 240);
}

.main__info {
  padding: 160px 0 197px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.main-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__info__name {
  margin: 0 0 10px 0;
  color: #3A68B8;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
}

.main__info__title {
  max-width: 604px;
  margin: 0 0 40px 0;
  color: #FFF;
  font-family: 'ExtraBold', sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}

.main__info__text {
  margin: 0 0 50px 0;
  max-width: 558px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
}

.main-content-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.main__info__btn {
  padding: 15px 30px;
  border-radius: 5px;
  background: #3A68B8;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-content-btn :hover {
  color: #03173b;
  background: #97b5e7;
  cursor: pointer;
}

.main-content-btn p {
  display: flex;
}

.img_btn {
  max-height: 26px;
  margin-right: 10px;
}

.main__img {
  height: 415px;
  width: 415px;
  background-image: url(../img/main.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 99px 0;
  gap: 71px;
}

.logo__item {
  max-height: 59px;
}

/* =====MIDDLE===== */
.middle {}

.mid_info {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 68px;
  margin: 157px auto 264px auto;
}

.md_info_img {
  width: 594px;
  height: 548px;
  background-image: url(../img/info.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.md_info_right {
  padding: 117px 0;
}

.md_info_right h2 {
  font-family: 'Bold', sans-serif;
  max-width: 484px;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 30px;
}

.md_info_right p {
  max-width: 460px;
  line-height: 160%;
  margin-bottom: 50px;
}

.md_inf_cont_btn {
  padding: 15px 30px;
  background: #3A68B8;
  border-radius: 5px;
  color: #FFFFFF;
}

.md_inf_cont_btn:hover {
  color: #03173b;
  background: #97b5e7;
  cursor: pointer;
}

.cardlist {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 362px));
  gap: 30px;
  margin: 0 0 243px 0;
}

.card {
  /* outline: 2px solid red; */
  /* width: 362px;
  height: 389px; */
  padding: 30px;
  border-radius: 10px;
  background-color: #132035;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  opacity: 0.7;
}

.card h3 {
  font-family: 'Bold', sans-serif;
  font-size: 25px;
  line-height: 125%;
  font-weight: 700;
}

.card p {
  line-height: 160%;
  font-weight: normal;
  max-width: 302px;
}

.big_card {
  grid-column: 1/3;
  grid-row: 2/4;
  padding: 30px;
  border-radius: 10px;
  background-color: #132035;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  opacity: 0.7;
}

.big_card h3 {
  margin: 30px 0;
  font-family: 'Bold', sans-serif;
  font-size: 25px;
  line-height: 125%;

}

.big_card p {
  line-height: 160%;
  font-weight: normal;
}



.cardlist :hover {
  box-shadow: 15px 25px 65px -5px rgba(101, 161, 198, 0.467);
  cursor: pointer;
}

.end {
  display: flex;
  gap: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 221px;
}

.end_left {
  display: flex;
  flex-direction: column;
}

.end_left_cont {
  margin: 14px 0;
}


.end_left h2 {
  font-family: 'Bold', sans-serif;
  max-width: 545px;
  font-size: 40px;
  line-height: 130%;
  padding-bottom: 20px;
}

.end_left p {
  max-width: 460px;
  line-height: 160%;
  margin-top: 20px;
}

.end_right {
  width: 573px;
  height: 492px;
  background-image: url(../img/end.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
  background-color: #070F1D;
}

.foot_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 30px;
  padding: 48px 0;
  /* outline: 2px solid red; */
}

.foot_first {
  width: 362px;
  /* outline: 2px solid rgb(12, 242, 97); */
}



.foot_first h4 {
  font-family: 'Roboto-Medium', sans-serif;
  text-transform: uppercase;
  margin-bottom: 33px;
  font-weight: 500;
  line-height: 19px;
}

.mail {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-weight: 250;
  line-height: 16px;
  gap: 9px;
  margin-top: 24px;
}

.phone {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-weight: 250;
  line-height: 16px;
  gap: 9px;
  margin-top: 24px
}

.adress {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-weight: 250;
  line-height: 16px;
  gap: 9px;
  margin-top: 24px
}

.mail img {
  max-height: 10px;
}

.phone img {
  max-height: 13px;
}

.adress img {
  max-height: 16px;
}

.foot_second {
  width: 362px;
  /* outline: 2px solid rgb(12, 242, 97); */
}


.foot_second h4 {
  font-family: 'Roboto-Medium', sans-serif;
  text-transform: uppercase;
  margin-bottom: 33px;
  font-weight: 500;
  line-height: 19px;
}

.foot_second p {
  font-family: "Roboto-Italic";
  font-size: 14px;
  font-weight: 250;
  line-height: 16px;
  opacity: 0.6;
  max-width: 261px;
}

.foot_third {
  width: 362px;
  /* outline: 2px solid rgb(12, 242, 97); */
}

.foot_third h4 {
  font-family: 'Roboto-Medium', sans-serif;
  text-transform: uppercase;
  margin-bottom: 33px;
  font-weight: 500;
  line-height: 19px;
}

.foot_third p {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 14px;
  font-weight: 250;
  line-height: 16px;
  margin-bottom: 24px;
}

.reds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}






/*-----планшет-----min для примера*/
@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    /* outline: 2px solid red; */
  }

  .container {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
    /* outline: 2px solid green; */
  }

  .main__info__name {
    font-size: 16px;
  }

  .main__info__title {
    font-size: 48px;
  }

  .main__info {
    justify-content: center;
  }

  .logo {
    max-width: 534px;
    gap: 32px;
    padding: 0 0 120px 0;
    /* width: 100%;
    margin: 0 auto; */
  }

  .mid_info {
    margin: 157px auto 264px auto;
  }

  .md_info_right {
    padding: 0;
  }

  .cardlist {
    grid-template-columns: repeat(1, minmax(30%, 362px));
    justify-content: center;
    gap: 32px;
  }

  .card {
    width: 362px;
    height: 389px;
    padding: 30px;
    background-color: #0F1724;
  }

  .big_card {
    display: none;
  }

  .end {

    gap: 64px;
    flex-direction: column;
    margin-bottom: 221px;
    align-items: center;

  }

  .end_left_cont {
    margin: 0;
    padding: 0 110px;
    /* width: 783px; */
  }



  .main {
    /* padding-left: 64px; */
  }


}





/*---для мобилок---*/
@media (max-width: 767px) {

  .center {
    max-width: 343px;
    margin: 0 auto;
    width: 100%;
  }

  .container {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }

  .header {
    padding: 22px 0;
    gap: 16px;
  }

  .main__info__title {
    font-size: 28px;
    font-weight: 62px;
  }

  .main__info__name {
    margin: 0 0 10px 0;
    justify-content: center;
    font-size: 14px;

  }

  .main__info {
    padding: 64px 0 128px 0;
    justify-content: center;
  }

  .main-info-content {
    text-align: center;
  }

  .main__info__text {
    margin: 0 0 39px 0;
  }

  .main-content-btn {
    justify-content: center;
  }

  .logo {
    padding: 0 0 108px 0;
  }

  .mid_info {
    justify-content: center;
    gap: 68px;
    margin: 96px auto;
  }

  .md_info_right {
    padding: 0;
    text-align: center;
  }

  .md_info_right h2 {
    font-size: 24px;
  }

  .cardlist {
    grid-template-columns: repeat(1, minmax(30%, 362px));
    justify-content: center;
    gap: 32px;
  }

  .card {
    padding: 10px;
    background-color: #0F1724;
  }

  .card h3 {
    font-size: 18px;
    line-height: 125%;
    font-weight: 700;
  }

  .card p {
    font-size: 10px;
    line-height: 160%;
    font-weight: normal;
  }

  .big_card {
    display: none;
  }

  .end {

    gap: 32px;
    /* flex-direction: column; */
    margin-bottom: 96px;

  }

  .end_left_cont {
    margin: 0;
  }

  .end_left_cont h2 {
    font-size: 24px;
    padding: 0;
  }

  .foot_content {
    gap: 30px;
    padding: 113px 17px 64px 17px;
  }

  .foot_first {
    order: 1;
  }

  .foot_first h4 {
    text-align: center;
  }

  .foot_second {
    order: 0;
  }

  .foot_second h4 {
    text-align: center;
  }

  .foot_third {
    order: 3;
  }

  .foot_third h4 {
    text-align: center;
  }

  .foot_third p {
    text-align: center;
  }

  .reds {
    justify-content: center;
  }






}